@import "compass";

#migrate-form {
	padding-top: 10px;
}

.form-table {
	.row-new-url,
	.row-new-path,
	.row-revisions {
		th, td {
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc; 
		}
	}

	.row-old-path,
	.row-save-file,
	.row-guids {
		th, td {
			padding-top: 20px; 
		} 
	}
}

p.submit {
	overflow: hidden;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	margin-top: 20px;
	
	input {
		float: left; 
	}

	img {
		float: left;
		margin: 3px 0 0 5px; 
	} 
}

#wpmdb-container {
	position: relative;
}

#wpmdb-main {
	margin-right: 320px;
	min-height: 1200px;
}

#wpmdb-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 250px;
	border: 1px solid #ccc;
	padding: 20px;

	.author {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #ccc;
		overflow: hidden;

		img {
			float: left;
			margin-right: 20px;
		}

		.desc {
			float: left;
		}

		h3 {
			font-size: 12px;
			margin: 0;
		}

		h2 {
			font-size: 18px;
			margin: 0;
			padding: 0;

			a {
				color: #464646;
				text-decoration: none;

				&:hover {
					color: #000;
				}
			}
		}

		p {
			margin: 0;
		}
	}

	.video {
		position: relative;
		display: block;
		$size: 60px;

		&:before, &:after {
		    position: absolute;
		    content: " ";
		    margin: auto;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		}

		&:before {
		    width: $size;
		    height: $size;
		    @include border-radius($size);
		    @include opacity(0.8);
		    border: 1px solid #ddd;
		    background-color: #fff;
		    z-index: 2;
		}

		&:after {
			@include opacity(0.8);
		    border: $size/3 solid transparent;
		    border-top-width: $size/5;
		    border-bottom-width: $size/5;
		    border-left-color: #333;
		    background: transparent;
		    display: block;
		    left: $size/2.56;
		    width: 0px;
		    height: 0px;
		    z-index: 3;
		}
	}

	.subscribe {
		h2 {
			padding: 0;
			margin: 0;
			margin-bottom: 0.5em;
			color: #666;
			font-size: 20px;
		}

		h3 {
			font-size: 16px;
			margin: 0;
		}

		p {
			margin: 0;
		}

		p.interesting {
			margin-bottom: 1em;
		}

		.links {
			margin-bottom: 2em;

			a {
				text-decoration: none;
			}
		}

		.promise {
			color: #999;
		}

		.field {
			margin-bottom: 1em;

			p {
				margin-bottom: 0.3em;
			}

			&.submit-button {
				margin-bottom: 1em;
			}
		}
	}
}